<!DOCTYPE html>
<html>
 <head>
   <meta chaset ="utf-8">
   <title>Some website</title>
    </head>
    <body>
    <h1> wel b rigt back</h1>
    <p>
      this site is being updated
    </p>
    </body>
</html>
